$regular: 400;
$medium: 500;

$primary-black: .87;
$secondary-black: .54;
$faded-black: .38;

$accent:#9C27B0;
$primary: rgba(black, $primary-black);
$secondary: rgba(black, $secondary-black);
$divider: rgba(black, .12);
$selected-background: #f5f5f5;
$hover-background: #eeeeee;
$header-height: 56px;
$row-height: 48px;
$background: white;

@mixin secondary() {
    font-weight: $medium;
    font-size: 12px;
    color: $secondary;
}

.ag-material-next {
    background: $background;

    .ag-font-style {
        font-family: 'Roboto', sans-serif;
        font-weight: $regular;
        color: $primary;
        font-size: 13px;
    }

    .ag-header {
        @include secondary();
    }

    .ag-header-cell-sorted-asc, 
    .ag-header-cell-sorted-desc {
        color: $primary;
    }

    .ag-header-cell, .ag-cell {
        text-align: left;
    }

    .ag-header-cell {
    }

    .ag-header-cell-sortable .ag-header-cell-label{
        cursor: pointer;
    }

    .ag-header-cell-sortable:has():hover .ag-sort-ascending-icon {
        display: inline-block !important;
    }

    .ag-header-cell-label {
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
    }

    .ag-header-cell-text {
        flex-grow: 1;
    }

    .ag-numeric-header .ag-header-cell-label {
        flex-direction: row;
    }

    .ag-header-cell-sorted-none .ag-header-cell-label:hover .ag-sort-ascending-icon {
        display: block !important; 
        opacity: 0.38;
    }
    
    .ag-header-cell-sorted-none .ag-header-cell-label:hover .ag-sort-none-icon {
        display: none;
    }

    .ag-sort-ascending-icon svg, 
    .ag-sort-descending-icon svg, 
    .ag-sort-none-icon svg, {
        display: none;
    }

    .ag-sort-ascending-icon::before,
    .ag-sort-descending-icon::before,
    .ag-sort-none-icon::before {
        content: ' ';
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
        margin-bottom: -3px;
        margin-left: 2px;
        margin-right: 2px;
        display: inline-block;
        background-image: url('./icons/arrow-up.svg'); 
    }

    .ag-sort-descending-icon::before {
        background-image: url('./icons/arrow-down.svg'); 
    }

    .ag-sort-none-icon::before {
        opacity: 0.54; 
        background-image: url('./icons/updown.svg'); 
    }

    .ag-header-cell {
        line-height: $header-height - 1;
        min-height: $header-height - 1;
    }

    .ag-numeric-header {
        text-align: right;
    }

    .ag-numeric-cell {
        text-align: right;
    }

    .ag-header-cell-resize {
        margin-right: -24px;
        border-right: 1px solid $divider;
    }

    .ag-header {
        border-bottom: 1px solid $divider;
    }

    .ag-cell, .ag-header-cell {
        padding-right: 24px;
        padding-left: 24px;
    }

    .ag-cell:first-child, .ag-header-cell:first-child {
        padding-left: 24px;
    }

    .ag-cell:last-child, .ag-header-cell:last-child {
        padding-right: 24px;
    }

    .ag-row {
        border-bottom: 1px solid $divider;
        transition: background-color 120ms linear;
    }

    .ag-row-hover {
        background-color: $hover-background;
    }

    .ag-cell {
        line-height: $row-height - 1;
        min-height: $row-height - 1;
        transition: border 100ms linear;
        border: 1px solid transparent;
    }

    .ag-cell:focus {
        outline: initial;
        border: 1px solid $accent;
    }

    .ag-header-cell-menu-button {
        opacity: 0.54 !important;
        transform: translatey(2px);
    }

    .ag-cell-label-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .ag-numeric-header .ag-cell-label-container {
        flex-direction: row;
    }

    .ag-header-cell-menu-button {  
        float: none;
    } 

    .ag-menu {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        padding: 8px;
        background: $background;
    }

    .ag-menu .ag-filter > div > div {
        margin-bottom: 8px;
    }

    .ag-paging-panel {

        border-top: 1px solid $divider;

        @include secondary();
        height: $header-height;
        display: flex;
        align-items: center;
        padding: 0 24px;
        justify-content: flex-end;

        & > span {
            margin-left: 32px;
        }
        .ag-paging-page-summary-panel {
        }

        $buttonIcons: (
            btFirst: first,
            btPrevious: previous,
            btLast: last,
            btNext: next
        );


        @each $ref, $icon in $buttonIcons {
            button[ref=#{$ref}] {
                -webkit-appearance: none;
                border: none;
                background: url('./icons/#{$icon}.svg') no-repeat;
                opacity: 0.54;
                text-indent: 100%;
                padding: 0;
                overflow: hidden;
                width: 24px;
                height: 24px;

                &[disabled] {
                    opacity: 0.38;
                }
            }
        }
    }

    .ag-cell-inline-editing {
        padding: 8px 24px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        height: calc(100% + 16px);
        background: #F5F5F5;

        input[type=text] {
            background: transparent;
            height: auto !important;
            outline: none;
            border: none;
            border-bottom: 2px solid $accent;
            @extend .ag-font-style;
        }, 
        
        select {
            height: auto;
        }
    }

}

.ag-dnd-ghost {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: $secondary;
    background: $background;
    padding: 0 24px; 
    border: 0;
    transform:translatey(16px);
    box-sizing: border-box;
    height: $header-height !important;
    display: flex;
    align-items:center;
}

.ag-dnd-ghost-icon > span img {
    display: none;
}

.ag-dnd-ghost-icon {
    & > span::before {
        content: ' ';
        background-size: 20px 20px;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        display: block;
    }

    $icons: (
        columnMoveMove: arrows,
        columnMovePin: thumb-tack,
        columnMoveAdd: plus,
        columnMoveHide: eye-slash,
        columnMoveLeft: arrow-left,
        columnMoveRight: arrow-right,
        columnMoveGroup: arrows,
        columnMoveValue: arrows,
        columnMovePivot: arrows,
        dropNotAllowed: arrows
    );

    @each $name, $value in $icons {
        & > span.#{$name}::before { background-image: url('./icons/#{$value}.svg'); }
    }
}

.ag-dnd-ghost-icon {
    padding-left: 0px;
    padding-right: 2px;
}
